div.mod_bc_wrapper div.fbform input,div.mod_bc_wrapper div.fbform select{margin-bottom:6px;}
div.mod_bc_wrapper div.fbform input[type="text"]{width:450px;}
div.mod_bc_wrapper div.fbform br{display:none;}